

<form method="POST" action="https://api.staticman.net/v2/entry/uaorob/altgem/master/comments">
  <input name="options[redirect]" type="hidden" value="https://altgem.com">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label><input name="fields[name]" type="text" placeholder="Name" required></label>
  <label><input name="fields[email]" type="email" placeholder="Email (private, not posted)" required></label>
  <label><input name="fields[url]" type="text" placeholder="My Twitter/website"></label>
  <label><textarea name="fields[message]" placeholder="I'm thinking.." required></textarea></label>
  
  <button type="submit" class="comment-btn">Submit comment</button>
</form>

