<div class="notification-box alert alert-dismissable">
<div class="row">
    <div class="col-md-12">
        <span id="notification-title">Disclaimer</span>
        <p id="notification-details">
            Altgem is not offering professional financial advice. Conduct your own research before investing in any high-risk venture. You are solely responsible for managing your investments and any potential losses that might result from related activities.
        </p>
        <button class="notification-btn close" data-dismiss="alert" aria-label="close">Accept</button>
    </div>
</div>
</div>