<footer class="footer">
      <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright">
                    <span class="text-muted"> &copy;2018 Altgem.com maintained by 
                    <img src="/assets/img/ico_twitter_dark.png"/>
                    <a href="https://twitter.com/uaorob" target="_blank" class="external">
                        @uaorob
                    </a>.
                    </span>
                </p>
            </div>
            <div class="col-md-6"><p>Last Update: {{ site.time }}</p></div>
        </div>
      </div>
</footer>