{% if page.rating == "0.5" %}
<img src="/assets/img/Gem-half.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
{% elsif page.rating == "1" %}
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
{% elsif page.rating =="1.5" %}
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-half.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
{% elsif page.rating =="2" %}
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
{% elsif page.rating =="2.5" %}
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-half.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
{% elsif page.rating =="3" %}
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
{% elsif page.rating =="3.5" %}
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-half.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
{% elsif page.rating =="4" %}
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-empty.svg"/>
{% elsif page.rating =="4.5" %}
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-half.svg"/>
{% elsif page.rating =="5" %}
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
<img src="/assets/img/Gem-full.svg"/>
{% else %}
{% endif %}