form {
    //text-align: center;
    padding-top: 100px;
    //font-variant: all-small-caps;
    color: #1d1d1d;
}
.comment-btn {
    background: #ed1c24;
    border: 1px solid #0b0b0b;
    padding: 10px;
    color: #ebf2f8;
}
textarea {
    background: #ebf2f8;
    border: 1px solid #dae0e6;
    padding: 10px;
    resize: vertical;
    min-height: 150px;
}
input {
    background: #ebf2f8;
    border: 1px solid #dae0e6;
    padding: 10px;
}
label {
    display: block;
}
#comments a {
    //color: #f3f7fa;
}
#wrapper-comments {
    background: #1d1d1d;
    color: #f3f7fa;
    padding-top: 50px;
}
#comments a:hover {
    background: transparent;
    color: #b32221;
}
.form-details a {
    color: #f3f7fa;
}
.form-details a:hover {
    background: transparent;
    color: #b32221;
}
#tweets a {
    color: #fff;
}
#tweets a:hover {
    background: transparent;
    color: #b32221;
}
.single-comment {
    background: #ebf2f8;
    color: #1d1d1d;
}
.comment-form {
    padding: 0;
}
.text-right {
    text-align: right;
}