<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
  
  {% include nav.html %}
  {% include post-details.html %}
  
  <div class="wrapper">
  <div class="container">
   <div class="row">
       <div class="col-md-12">
        {{ content }}       
       </div>
   </div> 
   </div>
   </div>
   
   <div class="wrapper" id="wrapper-comments">
   {% if page.comments == "true" %}
   <div class="container" id="comments">
   <div class="row">
       <div class="col-md-12">
           <h2>Comments</h2>
       </div>
    </div> 
    <div class="row">
       <div class="col-md-6 single-comment">
        {% assign comments = site.data.comments[page.slug] | sort %}
        {% for comment in comments %}
        {% assign email = comment[1].email %}
        {% assign url = comment[1].url %}
        {% assign name = comment[1].name %}
        {% assign message = comment[1].message %}
        {% include comment.html index=forloop.index email=email url=url name=name message=message %}
        {% endfor %}
       </div>
   </div> 
   <div class="row">
       <div class="col-md-6 comment-form">
        {% include comments-form.html %}      
       </div>
       <div class="col-md-6 text-right">
           <p class="form-details">
               <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" class="external" target="_blank">Markdown</a> is allowed.</p>
        <p>Your email will not be posted.</p>
        </div>
   </div> 
   </div>
   {% else %}
   <div class="container" id="tweets">
   <div class="row">
       <div class="col-md-12">
           <h2>Contribute</h2>
           <p>Did I miss anything? Got some insight?</p>
           <p><a class="twitter-mention-button external" href="https://twitter.com/intent/tweet?screen_name=uaorob" target="_blank" data-size="large">Send me a tweet</a>.
           </p>
       </div>
    </div> 
   </div>
   {% endif %}
   </div>
   
  
  
        
  {% include footer.html %}       
  
  
  
  {% include hrsago.html %}
  {% include js.html %} 
  {% if page.type != "guide" %}
  {% include js-api.html %}  
  {% else %}
  {% endif %}
  </body>
</html>
